@using SportShopApp.Models;
<link rel="stylesheet" href="~/Content/Shoes.css" />

<div class="MyLinksto">
        <button class="btnsLinks" onclick="location.href = '@Url.Action("GetShoesOnSale" , "Shoes")'">Shoes on sale</button>
        <button class="btnsLinks" onclick="location.href = '@Url.Action("ShoesTable" , "Shoes")'">Manager View</button>
</div>


<section class="Cards-Container">

    @foreach (Shoe shoe in Model)
    {

        <article class="Cards">

            <img class="ShoesPics" src="@shoe.PickLink" />

            <div class="DropDown">
                <p>
                    @shoe.Company  @shoe.Model <br /> @shoe.Price$
                </p>

            </div>

        </article>

    }

</section>

