@using SportShopApp.Models;
<link rel="stylesheet" href="~/Content/ShoesOnSale.css" />

<div class="MyLinksto">
    <button class="btnsLinks" onclick="location.href = '@Url.Action("GetAllShoes" , "Shoes")'">Back to Shoes</button>
    <button class="btnsLinks" onclick="location.href = '@Url.Action("ShoesTable" , "Shoes")'">Manager View</button>
</div>

@{
Random Discount = new Random();
}

<div class="Cards-Container">

    @foreach (Shoe shoe in Model)
  {
       <div class="Cards">

          <img class="ShoesPics" src="@shoe.PickLink" />
          <div class="DropDown">
             <p>

                @shoe.Company  @shoe.Model <br />
                @shoe.Price$<br />
                Discount : @Discount.Next(10, 35)%

             </p>
         </div>

        </div>
   }
</div>
